[Unit]
Description=Zellostreamer
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/zellostream/zellostream.py
WorkingDirectory=/home/pi/zellostream
User=pi

[Install]
WantedBy=multi-user.target
